apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kubernetes-openconsole-data
  namespace: kubernetes-openconsole
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
